.App {
  text-align: center;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navLinks{
  margin-left: 16px;
  margin-right: 16px;
  padding: 0px 8px;
  cursor: pointer;
  text-decoration: none;
  height: 100%;
}
.navLinks:last-child{
  margin-right: 0px;
}

.navLinks:hover{
  background-color: rgb(230, 190, 255);
  color: white;
}

.activeLink{
  background-color: rgb(240, 50, 230);
  color: white;
}

